fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
supabase
python-dotenv
pyjwt
cryptography
httpx
pydantic-settings
langchain-ollama
langchain-community
langchain-text-splitters
pandas
pydantic
owlready2
faiss-cpu
sentence-transformers
rouge-score
torch
tf-keras
langchain-huggingface